.component-wrapper {
  background-color: #98fdfd;
  border: 1px solid;
  border-color: #000000;
  border-radius: 25px;
  height: 82px;
  position: relative;
  width: 162px;
}

.component-wrapper .text-wrapper-3 {
  color: #000000;
  font-family: "Kadwa", Helvetica;
  font-size: 35px;
  font-weight: 400;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
  width: 118px;
  cursor: pointer;
  background: transparent;
  border: none;
}
