.component {
  height: 617px;
  width: 731px;
}

.component .overlap-group {
  background-color: #91edf3;
  border: 1px solid;
  border-color: #000000;
  border-radius: 80px;
  height: 619px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 733px;
}

.component .overlap {
  height: 57px;
  left: 124px;
  position: absolute;
  top: 233px;
  width: 485px;
}

.component .line {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 50px;
  width: 485px;
}

.component .div {
  color: #00000080;
  font-family: "Kadwa", Helvetica;
  font-size: 26px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 96px;
}

.component .text-wrapper-2 {
  color: #000000;
  font-family: "Kadwa", Helvetica;
  font-size: 45px;
  font-weight: 400;
  left: 303px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 48px;
  width: 125px;
}

.component .overlap-2 {
  height: 57px;
  left: 124px;
  position: absolute;
  top: 326px;
  width: 485px;
}
/* style.css */

/* Adicione estilos específicos para a classe 'input' aqui */
.input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 26px;
  box-sizing: border-box;
  background-color: transparent;
}

/* Estilos adicionais para realçar o campo ativo */
.input:focus {
  border-color: #007bff; /* Cor de destaque quando o campo está ativo */
  outline: none;
}

/* Estilos para o texto de placeholder no campo */
.input::placeholder {
  color: #333; /* Cor do texto de placeholder */
}

/* Outros estilos gerais podem ser adicionados aqui */
